
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

*
{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar{
    width: 10px;
}

body
{
    background-color: black;
    cursor:  default ;
}
button{
    cursor: pointer;
}
#cor{
    cursor: pointer;
}


/* ----------------------------------------

NAV BAR

------------------------------------------------- */

.navBar
{
    display: flex;
    justify-content: end;
    padding: 5px 0;
}

.navBar ul
{
    display: flex;
    gap: 10px;
    background-color: rgb(174, 174, 174);
    padding: 7px;
    border-radius: 15px 0 0 15px;
}
.navBar a
{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}
.navBar a:hover
{
    color: antiquewhite ;
    text-decoration: underline;
}

/* ---------------------------------------

HEADER

---------------------------------------------------------- */


.headerContainer
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center;
}

.headerContainer img
{
    width: 180px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.nameJob
{
    display: flex;
    gap: 5px;
    align-items: first baseline;
}
.nameJob h2{
    font-size: 2.3rem;
}
.nameJob h3
{
    font-size: 1.3rem;
    color: blueviolet;
}
.infoBase p
{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}



/* ----------------------------------------------------------------

MAIN

--------------------------------------------------- */

section
{
    background-color: black;
    width: 100%;
    height: 100vh;
}

section input{
    background-color: transparent;
}



/* --------------------------------------------------------------------

#CONTATO

----------------------------------------------------------------- */
.contatoContainer
{
    display: flex;

}

.contatoInfo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: justify;
  box-shadow: 0 0 10px white;
  margin: 0 20px;
}
.contatoClass 
{
  width: 400px; 
}

/* -------------

FORMULARIO

---------- */
.formContainer
{
    display: grid;
    border: 1px solid white;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 40%;
}


#btnForm
{
    outline: none;
    background-color: blue;
    padding: 5px;
    place-self: end;
}